:root {
    --pillar-color: none; 
    --pillar-width: 0px;
    --pillar-height: 0px;  
    --pillar-top: 0px;
    --pillar-left: 0px;
    --pillar-movement: 0px;
    --pillar-transition: move;
}

.pillar {
    position: absolute;
    top: var(--pillar-top);
    left: var(--pillar-left);
    border: 2px solid var(--pillar-color);
    width: var(--pillar-width);
    height: var(--pillar-height);
    animation-name: var(--pillar-transition);
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes move {
    0% { left: 0px } 
    100% { left: var(--pillar-movement) }
}

@keyframes stretch {
    0% { width: var(--pillar-width) } 
    100% { 
        width: var(--pillar-movement);
    }
}